{% extends "navbar.html" %}
{% block body %}
<!-- form css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form_style.css') }}" />


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="container">
    
    <center><h1 style="color: white;">Unregister <span style="color: yellow;">Admin</span></h1></center>

    <a href="/admindashboard"><button class="btn btn-small btn-round-full btn-green">Dashboard</button></a>
    
    <table class="section blog bg-gray table table-sm table-hover table-striped table-bordered" id="supervisor-list">
      <h3 class="bg-white" style="font-style: oblique;">Admins List</h3>
      <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col" colspan="3">Operations</th>
    </tr>
  </thead>
  <tbody>
        {% for admin in admins %}
        <tr>
      
      <td>{{ admin.admin_id }}</td>
      <td>{{ admin.admin_name }}</td>
            <td>
                 
                <button class="btn btn-small btn-round-full btn-danger delete-btn" data-id="{{ admin.admin_id }}">Delete</button>
            </td>
            
        {% endfor %}
    </td>
  </tr>
</tbody>
</table>


</div>

<script>
    $(document).ready(function () {
        $('.delete-btn').on('click', function () {
            var supervisorId = $(this).data('id');
            $.ajax({
                type: 'POST',
                url: '/admin/delete/' + supervisorId,
                success: function (response) {
                    alert(response);
                    // Reload the page after successful deletion
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert('Error: ' + xhr.responseText);
                    console.log(error);
                }
            });
        });
    });
</script>

{% endblock %}