<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guard Check-in System</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Leaflet CSS and JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


</head>
<body class="container mt-4">

<!-- Guard ID Dropdown -->
<div class="form-group">
    <label for="guardId">Guard ID:</label>
    <select id="guardId" class="form-control select2">
      {% for guard in guards %}
        <option value="{{guard.guard_id}}">{{guard.guard_id}}.{{guard.guard_name}}</option>
        <!-- Add more options as needed -->
        {% endfor %}
    </select>
</div>

<!-- Leaflet Map -->
<div id="map" class="mb-4" style="height: 200px;"></div>

<div class="form-group">
  <h3 id="location_address">Select any Guard</h3>
</div>

<!-- Time Input Fields -->
<div class="form-group">
    <label for="checkInTime">Check-in Time:</label>
    <input type="datetime-local" id="checkInTime" name="checkintime" class="form-control">
</div>

<div class="form-group">
    <label for="checkOutTime">Check-out Time:</label>
    <input type="datetime-local" id="checkOutTime" name="checkouttime" class="form-control">
</div>

<!-- Buttons -->
<button onclick="checkIn()" class="btn btn-success mr-2">Check-in</button>
<button onclick="checkOut()" class="btn btn-success">Check-out</button>
<button onclick="markAbsent()" class="btn btn-danger mr-2">Absent</button>
<button onclick="markLate()" class="btn btn-warning mr-2">Late</button>



<script>
  $(document).ready(function () {
        $('.select2').select2({
            placeholder: 'Select a guard',
            allowClear: true,
            closeOnSelect: true,
            width: '100%', // Set the width of the dropdown to 100%
        });
        $('.select2').val(null).trigger('change');
      });
</script>

<script>
  // Initialize Leaflet map
    // Initialize the Leaflet map
        var map = L.map('map').setView([24.9225346, 67.0003668], 10);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        var guardMarker;
        var autoUpdate = false;
        // Set start_time and stop_time values to input fields
        var checkInTimeInput = document.getElementById("checkInTime");
        var checkOutTimeInput = document.getElementById("checkOutTime");
        var location_address = document.getElementById("location_address");

        // Listen for changes in the Select2 dropdown
        $('.select2').on('select2:select', function (e) {
            // Get the selected guard
            var selectedGuard = $(this).val();

            // Update the map with the selected guard's location
            updateGuardLocation(selectedGuard);
            autoUpdate = true;
        });

        function updateGuardLocation(selectedGuard) {
            // If no guard is selected, remove the existing marker and return
            if (!selectedGuard) {
                if (guardMarker) {
                    map.removeLayer(guardMarker);
                    guardMarker = null;
                }
                location_address.textContent = ''; // Clear location address
                checkInTimeInput.value = '';
                checkOutTimeInput.value = '';
                return;
            }

            // Clear the values explicitly before fetching new data
            location_address.textContent = '';
            checkInTimeInput.value = '';
            checkOutTimeInput.value = '';

            fetch('/get_location?guard_id=' + selectedGuard)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Guard location data:', data); // Log the response data

                    // Remove the previous guard marker if exists
                    if (guardMarker) {
                        map.removeLayer(guardMarker);
                    }

                    

                  if (data) {
                    var location = data;
                    // Parse the server date strings
                        var startTime = new Date(location.start_time);
                        var stopTime = new Date(location.stop_time);

                        // Format the time strings for mm/dd/yyyy hh:mm:ss format
                        var formattedCheckInTime = formatDate(startTime);
                        var formattedCheckOutTime = formatDate(stopTime);

                        function formatDate(date) {
                            var year = date.getFullYear();
                            var month = (date.getMonth() + 1).toString().padStart(2, '0');
                            var day = date.getDate().toString().padStart(2, '0');
                            var hours = date.getHours().toString().padStart(2, '0');
                            var minutes = date.getMinutes().toString().padStart(2, '0');

                            return year + '-' + month + '-' + day + 'T' + hours + ':' + minutes;
                        }

                        
                        // Check if location data is available
                        if (location.location) {
                            location_address.textContent = 'Duty Location: ' + location.location;
                        }else {
                            location_address.textContent = 'Duty Location: Not set'; // Clear checkin time
                        }

                        // Check if start_time is available
                        if (location.start_time) {
                            checkInTimeInput.value = formattedCheckInTime;
                        } else {
                            checkInTimeInput.value = ''; // Clear checkin time
                        }

                        // Check if stop_time is available
                        if (location.stop_time) {
                            checkOutTimeInput.value = formattedCheckOutTime;
                        } else {
                            checkOutTimeInput.value = ''; // Clear checkout time
                        }
                  }

                  if (data) {
                        var location = data;
                        guardMarker = L.marker([location.start_lat, location.start_long])
                            .bindPopup('Guard ID: ' + location.guard_id)
                            .addTo(map);

                        // Fly to the marker's location
                        map.flyTo([location.start_lat, location.start_long], 18);
  
                    }
                })
                .catch(error => console.error('Error fetching guard location:', error));
        }
  
</script>

<script>

   // Function to handle check-in button click
async function checkIn() {
    var guardId = document.getElementById("guardId").value;
    var checkInTime = document.getElementById("checkInTime").value;

    try {
        var response = await $.ajax({
            type: 'POST',
            url: '/mark_attendance',
            data: { guard_id: guardId, action: 'checkin', checkintime: checkInTime }
        });

        console.log(response);
        showAlert("Check-in recorded for Guard ID: " + guardId);
    } catch (error) {
        console.error('Error:', error);
    }
}

// Function to handle absent button click
async function markAbsent() {
    var guardId = document.getElementById("guardId").value;

    try {
        var response = await $.ajax({
            type: 'POST',
            url: '/mark_attendance',
            data: { guard_id: guardId, action: 'absent' }
        });

        console.log(response);
        showAlert("Guard ID: " + guardId + " marked as absent");
    } catch (error) {
        console.error('Error:', error);
    }
}

// Function to handle absent button click
async function markLate() {
    var guardId = document.getElementById("guardId").value;

    try {
        var response = await $.ajax({
            type: 'POST',
            url: '/mark_attendance',
            data: { guard_id: guardId, action: 'late' }
        });

        console.log(response);
        showAlert("Guard ID: " + guardId + " marked as late");
    } catch (error) {
        console.error('Error:', error);
    }
}

// Function to handle check-out button click
async function checkOut() {
    var guardId = document.getElementById("guardId").value;
    var checkOutTime = document.getElementById("checkOutTime").value;

    try {
        var response = await $.ajax({
            type: 'POST',
            url: '/mark_attendance',
            data: { guard_id: guardId, action: 'checkout', checkouttime: checkOutTime }
        });

        console.log(response);
        showAlert("Check-out recorded for Guard ID: " + guardId);
    } catch (error) {
        console.error('Error:', error);
    }
}

// Function to show alert message
function showAlert(message) {
    alert(message);
}

</script>


</body>
</html>
