<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static',filename='dashboard/style.css')}}" />
    <!-- Custom styles for this template -->
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <title>Admin Dashboard</title>
</head>
<!-- Header Close -->
<body>

<div class="main-wrapper ">
<section class="bg-2">
  
</section>
<!-- Section Blog start -->
<section class="section blog">
<center><h1 style="color: white;">Guard <span style="color: yellow;">Cancel</span></h1></center>

    <div class="container">

    <!-- Add new post button -->
    <a href="/client_dashboard"><button class="btn btn-small btn-round-full btn-green">Dashboard</button></a>
    
    <hr class="bg-white">

    <div class="form-group col-md-4">
  <label class="text-white" for="guardId">Search by Guard ID:</label>
  <input type="text" class="form-control" id="guardId" placeholder="Enter Guard ID">
  <br>
  <button class="btn btn-small btn-round-full btn-green" onclick="searchByGuardId()">Search</button>
</div>

<hr class="bg-white">
    <!-- Table fetching post from the database -->
    <table class="section blog bg-gray table table-sm table-hover table-striped table-bordered">
      
      <thead>
        <tr>
          <th scope="col">Guard ID</th>
          <th scope="col">Guard Name</th>
          <th scope="col">Duty Shift</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Location</th>
          <th scope="col">Operations</th>
          
        </tr>
      </thead>
      <tbody>
        
        {% for client_guard, guard_reservation, client, location, guard in guard_cancel %}
          <tr>
            <td>{{guard.guard_id}}</td>
            <td>{{guard.guard_name}}</td>
            <td>{{client_guard.duty_shift}}</td>
            <td>{{client_guard.start_time}}</td>
            <td>{{client_guard.end_time}}</td>
            <td>{{guard_reservation.start_date}}</td>
            <td>{{guard_reservation.end_date}}</td>
            <td>{{location.location}}</td>
            <td>
              <a href="/guard_cancel/{{client_guard.guard_id}}"><button class="btn btn-small btn-round-full btn-red cancel"><span class="material-icons-sharp">thumb_down_alt</span></button></a>
              
            </td>
            <!--<td>
              <a href="/show_reservation_details/{{reservation_id}}"><button class="btn btn-small btn-round-full btn-green show-details"><span class="material-icons-sharp">call_to_action</span></button></a>
              
            </td>-->
          </tr>
        {% endfor %}
      </tbody>
    </table>

    </div>
</section>
<!-- Section Blog End -->

<script>
  function searchByGuardId() {
    var input = document.getElementById('guardId').value.toLowerCase();
    var tableRows = document.querySelectorAll('tbody tr');

    tableRows.forEach(function(row) {
      var guardId = row.querySelector('td:first-child').textContent.toLowerCase();

      if (guardId.includes(input)) {
        row.style.display = '';
      } else {
        row.style.display = 'none';
      }
    });
  }
</script>

</div>
</body>
</html>
