<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SafetyFirst - Security Guard Website</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">
 <!-- dashboard designing work Start -->
<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.1/html2pdf.bundle.min.js" integrity="sha512-vDKWohFHe2vkVWXHp3tKvIxxXg0pJxeid5eo+UjdjME3DBFBn2F8yWOE0XmiFcFbXxrEOR1JriWEno5Ckpn15A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    
   

    

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='invoice/style.css')}}" rel="stylesheet">
     <link href="{{ url_for('static', filename='invoice/dashboard.css')}}" rel="stylesheet">
   <link href="{{ url_for('static', filename='invoice/styled.css')}}" rel="stylesheet">
   <link rel="stylesheet" href="{{ url_for('static', filename='invoice/invoice.css')}}">
<style>body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.login-btn,
.signup-btn {
  display: block;
  width: 100px;
  padding: 5px;
  margin: 5px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 12px;
}

.login-btn {
  background-color: black;
}

.signup-btn {
  background-color: black;
}
</style>

</head>

<body class="bg-white">
   


    

 <!-- Center Start -->
 <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            

            <div class="container-fluid px-4">


                <div class="row my-5">
                  <div class="invoice-container" id="invoice-container">
                    <div class="header">
                        
                        <h1 style="font-size: 30px;">Invoice</h1>
                    </div>
                    <div class="billing-information">
                        <h2 style="font-size: 20px;">Billing Information</h2>
                        <p><strong style="color: #292929; font-size: 18px;">Date:</strong> {{date}}</p>
                        <p><strong style="color: #292929; font-size: 18px;">Invoice Number:</strong>{{invoice_no}}</p>
                    </div>
                    <div class="client-details">
                        <h2 style="font-size: 20px;">Client Details</h2>
                        <p><strong>Client Name:</strong> {{client.client_name}}</p>
                        <p><strong>Address:</strong> {{client.client_address}}</p>
                        <p><strong>Phone Number:</strong> {{client.client_phone_no}}</p>
                    </div>
                    <div class="invoice-items">
                        <h2 style="font-size: 20px;">Invoice Items</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>Reservations ID</th>
                                    <th>Guard Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reservation in reserv %}
                                <tr>
                                    <td>{{reservation.reservation_id}}</td>
                                    <td>{{reservation.guard_count}}</td>
                                </tr>
                                {% endfor %}

                                <!-- Add more items as needed -->
                            </tbody>
                        </table>
                        <h2 style="font-size: 20px;">Guards Reserved</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>Guard ID</th>
                                    <th>Guard Name</th>
                                    <th>Guard Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reservation in reserv %}
                                <tr>
                                    <td>{{reservation.guard_id}}</td>
                                    <td>{{reservation.guard_name}}</td>
                                    <td>{{reservation.cost}}</td>
                                </tr>
                                {% endfor %}

                                <!-- Add more items as needed -->
                            </tbody>
                        </table>
                    </div>
                    <div class="total-amount">
                        {% for reservation in reservations_with_costs %}
                        <p><strong>Total Amount for Reservation ID: {{reservation.reservation_id}}:</strong> {{reservation.total_cost}}</p>
                        {% endfor %}
                        <p><strong>Total Amount: {{total_sum}}:</strong></p>
                    </div>
                </div>
              
                      <div class="download-button">
                          <a href="#" class="download-btn" onclick="downloadInvoice()">Download Invoice</a>
                      </div>
                  </div>
                </div>
                </div>

            </div>
        

 <!-- Center end -->









    


    


    <script>
        function downloadInvoice() {
    var element = document.querySelector('.invoice-container');
    html2pdf(element, { debug: true });
}
    </script>

    
    

    



</body>

</html>