<!doctype html>



<html lang="en">
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="GYm,fitness,business,company,agency,multipurpose,modern,bootstrap4">
    
  <!-- theme meta -->
  <meta name="theme-name" content="Security Guard Company" />
  
  

  <title>SecureGuard Hub</title>

  
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">
  
  
  

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@24,400,0,0" />


  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>




</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <div class="hero_bg_box">
      <div class="img-box">
        <img src="{{ url_for('static', filename='img/hero-bg.jpg') }}" alt="">
      </div>
    </div>

     <header class="header_section">
      <div class="header_top">
        <div class="container-fluid">
          <div class="contact_link-container">
            <a href="" class="contact_link1">
              <span class="material-symbols-sharp" aria-hidden="true">location_on</span>
              <span>
                Shahra-e-Faisal Karachi .
              </span>
            </a>
            <a class="navbar-brand" href="index.html">
              <span>
                SecureGuard Hub
              </span>
            </a>
            <a href="" class="contact_link3">
              <span class="material-symbols-sharp">mail</span>
              <span>
                secureguard@gmail.com
              </span>
            </a>
          </div>
        </div>
      </div>
      
</header>
    {% block body %}
<!--the layout of pages print here-->
{% endblock %}
</body>
</html>