{% extends "layout.html" %}
{% block body %}

<!-- Header Close -->

<div class="main-wrapper ">
<section class=" bg-2">
  
</section>
<!-- Section Blog start -->
<section class="section blog">
<center><h1 style="color: white;">Security <span style="color: yellow;">Company</span></h1></center>

	<div class="container">

    <!-- Add new post button -->
    

    <a href="/admindashboard"><button class="btn btn-small btn-round-full btn-green">Dashboard</button></a>
    <a href="/clear_history"><button class="btn btn-small btn-round-full btn-danger">Clear History</button></a>
    
    <hr>

    <!-- Table fetching post from database -->

		<table class="section blog bg-gray table table-sm table-hover table-striped table-bordered">
      <center><h3 class=" blog bg-gray">Requests for Jobs</h3></center>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">CNIC</th>
      <th scope="col">Phone No</th>
      <th scope="col">Email</th>
      <th scope="col">Experience</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Rejection Time and date</th>
      <th scope="col">Rejection IN</th>
      <th scope="col" colspan="3">Operations</th>
    </tr>
  </thead>
  <tbody>
  	{% for job_application, interview in requests %}
    <tr>
      
      <td>{{job_application.applicant_id}}</td>
      <td>{{job_application.candidate_name}}</td>
      <td>{{job_application.candidate_cnic}}</td>
      <td>{{job_application.candidate_phone_no}}</td>
      <td>{{job_application.candidate_email}}</td>
      <td>{{job_application.candidate_experience}}</td>
      <td>{{interview.date}}</td>
      <td>{{interview.time}}</td>
      <td>{{job_application.timestamp}}</td>
      <td>
        {% if job_application.application_operation %}
          Rejected in Application
        {% elif job_application.interview_operation %}
          Rejected in Interview
        {% endif %}
      </td>
      
      <td><a href="/approve/{{job_application.applicant_id}}"><button class="btn btn-small btn-round-full btn-green approve-button"><span class="material-icons-sharp">
                  call_to_action
                </span></button></a></td>

        


        <td><a href="/decline_interview/{{job_application.applicant_id}}"><button class="btn btn-small btn-round-full btn-red decline-button"><span class="material-icons-sharp">
thumb_down_alt
</span></button></a></td>
    </tr>
{% endfor %}
    
  </tbody>
</table>

		
	</div>
</section>
<!-- Section Blog End -->



{% endblock %}